body {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    font-family: Roboto;
    font: Roboto;
}


h1 {
    text-align: left;
    font: italic normal bold 4.2em Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
}

p {
    text-align: left;
    font: italic normal normal 2em Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
}
.section-hero {
    padding: 0px;
    margin: 0px;
    min-height: 90vh;
    height: auto;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(66.91deg, #a019ac 28.81%, #581fa3 77.05%);

    .nav {
        width: 80%;
        height: auto;
        padding: 15px;
        display: flex;
        justify-content: flex-start;
    }

    
    .container {
        width: 80%;
        height: auto;
        padding: 25px;
        display: flex;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    
        .info {
            width: 40%;
            height: auto;
            min-width: 330px;
        }

        .cta {
            padding: 15px;
            margin-top: 15px;
            background-color: yellow;
            border: 0px;
            font-weight: 550;
            font-size: 1em;
            border-radius: 5px;
            box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.161);
            max-width: 130px;
        }
    
        .hero-image {
            width: 50%;
            height: auto;
        }
    }
}

.section-post-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Roboto;
    font: roboto;

    .lines{

        display: flex;
        width: 95vw;
        justify-content: center;
        align-items: center;

        h2 {
            color: gray;
            text-align: center;
            min-width: 150px;
            margin: 20px;
        }
    }

    h1 {
        color: black;
        font-size: 2.5em;
        margin: 0px;
        padding: 0px;
        text-align: center;
    }
}

.section-video {
    display: flex;
    justify-content: space-around;
    max-width: 80%;
    align-items: center;
    align-content: center;

    ul{
        width: 40%;
        height: auto;
        font-size: 1.5em;
        font-weight: 600;
        list-style-type: "✓  ";
        
    }

    video{
        width: 50%;
        height: auto;
    }
}

.section-offer{
    width: 100%;
    background-image: url(../assets/images/offer-background2.png);
    background-repeat: repeat-x;
    display: flex;
    align-items: center;
    justify-content: space-around;

    h1{
        font: italic normal bold 4em Roboto;
        text-shadow: 3px 3px 10px #000000BF;
    }
    .offer{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: 2em;

        .cta {
            padding: 15px;
            margin: 0px;
            background-color: yellow;
            border: 0px;
            font-weight: 550;
            font-size: 1em;
            border-radius: 5px;
            box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.161);
            max-width: 130px;
        }
    }
}

.section-hi-there{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/images/background-image.png);
    width: 100vw;
    background-repeat: no-repeat;

    h1{
        font-size: 2.5em;
        color: gray;
        padding-bottom: 1em;
        text-align: center;
    }

    .container1{
        display: flex;
        justify-content: space-around;
        width: 80vw;

        .image{
            width: 40%;
            height: 40%;
        }

        .info{
            width: 40%;
            font: italic 1.5em Roboto;
            font-weight: 450;
            line-height: 1.5em;

            h2{
                font: italic normal 2.5em Roboto;
                color: #A019AC;
                font-weight: 900;
                padding: 0px;
                margin: 0px;

            }
        }
    }

    .container2{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 80vw;

        .image2{
            width: 40%;
            height: 100%;
        }

        ul{
            width: 40%;
            height: auto;
            font-size: 1.5em;
            font-weight: 600;
            list-style-type: "✓  ";
        }
    }
}

.section-steps{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/images/background-image002.png);
    width: 100vw;
    margin-bottom: 2em;
    .step1{
        width: 60vw;
        font: italic normal 500 2em Roboto;
        margin-bottom: 1.5em;
    }
    .step2{
        width: 60vw;
        font: italic normal 500 2em Roboto;
        text-align: right;
        margin-top: 1.5em;
    }
}

.section-courses{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 2em;
    width: 100vw;
    background-image: url(../assets/images/background-image.png);
    .cards{
        width: 80%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .card01{
            width: auto;
            height: auto;
            max-width: 12em;
            box-shadow: 0px 3px 30px #3E3E6A73;
            text-align: left;
            padding-bottom: 2em;   
            margin-top: 2em;     
        }
    }
}

.section-fail{
    margin: 0px;
    padding: 0px;
    background-image: url(../assets/images/background-image003.png);
    background-size: cover;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;   
    

    h2{
        color: #FFFFFF;
        font: italic 600 2.5em Roboto;
        text-align: center;
    }

    #mid01{
        margin-top: 6em;
    }
    .container01{
        width: auto;
        height: 80%;
        margin: 3em;
        display: flex;
        flex-direction: column;

        .card01{
            width: 16em;
            height: auto;
            display: flex;
            align-items: center;
            background-color: #FFFFFF;
            border-radius: 0.7em;
            padding: 2em;
            margin-bottom: 3em;

            img{
                height: 3em;
                width: 3em;
            }
        }
    }
}

.section-info{
    background-image: url(../assets/images/background-image004.png);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    #flexinfo{
        flex-direction: row;
    }

    .container{
        width: 70%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        margin: 8em;
        .info{
            width: 40%;
        }
        img{
            width: 14em;
            height: 14em;

        }
    }
}

.section-virtual{
    display: flex;
    align-items: center;
    margin-top: 4em;

    .container{
        display: flex;
        flex-direction: row-reverse;
        width: 80vw;
        justify-content: space-around;
        align-items: center;

        .info{
            width: 45%;
            font: normal 400 1.5em Roboto;
        }
        img{
            width: 25%;
        }
    }
}

.section-why-us{
    width: 100%;
    background-image: url(../assets/images/background-image003.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;

    .container-main{
        display: flex;
        height: 400px;
        width: 80%;
        justify-content: space-around;
        margin-bottom: 3em;

        .container{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            height: 100%;

            .card{
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: #FFFFFF;
                padding: 1em;
                padding-left: 8px;
                padding-right: 8px;
                font: normal 500 1.5em Roboto;
                border-radius: 0.8em;

            }
        }
        #below{
            align-items: flex-end;
            justify-content: flex-end;
        }
    }
}

.section-why-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: url(../assets/images/background-image005.png);
    background-size: cover;
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 1050px;
        text-align: center;
        font: normal 500 1.5em Roboto;
        color: #470082;

        .card{
            padding: 1.5em;
            margin: 1.5em;
            box-shadow: 1px 1px 20px #030b725c;
            border-radius: 1em;
        }
    }

}

.millionaires{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/images/background-image005.png);
    background-size: cover;
    text-align: center;

    .container {
        display: flex;
        flex-wrap: wrap;
        max-width: 1250px;
        justify-content: center;
        align-items: center;
        align-content: center;

        img{
            width: 20em;
            height: 23em;
        }
    }
}

@media only screen and ( max-width: 1000px) {

    body {
        font-size: 8px;
    }
    
    .section-hero .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content:center ;
    }

    .section-hero .container{
        width: 100vw;
        padding: 0px;
        margin:0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;

        .info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .cta{
                font-size: 2em;
                padding: 15px;
                margin-bottom: 30px;
            }
        }
        .hero-image{
            padding: 0px;
            margin-top: 30px;
            width: 80%;
            height: auto;
            min-width: 300px;
        }
    }
    
    h1 {
        text-align: left;
        font: italic normal bold  Roboto;
        letter-spacing: 0px;
        color: #FFFFFF;
        text-align: center;
    }
    
    p {
        text-align: left;
        font: italic normal normal 24px Roboto;
        letter-spacing: 0px;
        color: #FFFFFF;
        text-align: center;
    }

    .section-video{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        
        ul {
            width: 100%;
        }
        video{
            width: 100%;
            margin-top: 2.5em;
        }
    }

    .section-offer{
        margin-top: 25px;
        flex-direction: column;

        .offer{
            margin: 0px;
            flex-direction: row;
            height: auto;
            align-items: center;
            justify-content: center;

            .cta{
                font-size: 16px;
                margin: 0px;
                margin-bottom: 15px;
                margin-left: 15px;
            }
        }
    }

    .section-hi-there{
        .container2{
            flex-direction: column;
            width: 100%;
            justify-content: center;

            .image2{
                width: 60vw;
                height: auto;
            }
            
            ul{
                width: 80%;
            }
        }
        .container1{
            flex-direction: column-reverse;
            align-items: center;
            
            .info{
                width: 100%;
            }
            .image{
                width: 60vw;
                height: 100%;
            }
        }
    }

    .section-courses .cards{
        font-size: 10px;
        width: 100%;
        .card01{
            margin: 12px;
        }
    }

    .section-fail{
        font-size: 10px;
        .container{
            #mid01{
                margin: 0px;
            }
            .container01{
                margin: 0px;
                
            }
        }
    }
    
    .section-info{

        #flexinfo{
            flex-direction: column-reverse;
            margin-top: 20px;
        }
        .container{
            flex-direction: column-reverse;
            width: 100vw;
            align-items: center;
            margin-bottom: 20px;
            
            .info{
                width: 85%;
                margin: 1.5em;

                ul{
                    padding-left: 20px;
                }
        
            }
        }
    
    }

    .section-virtual{
        .container{
            flex-direction: column-reverse;
            .info{
                width: 90%;
            }
            img{
                width: 60%;
            }
        }
    }

    .section-why-us{
        .container-main{
            justify-content: space-around;
            flex-wrap: wrap;
            height: 300px;
            margin-left: 56px;
            .container{
                width: 0px;
                flex-direction: row;
                justify-content: space-around;
            }
        }
    }

    .section-why-card{
        .container{
            width: 90%;
        }
    }

}