body {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    font-family: Roboto;
    font: Roboto;
}

@font-face{
    font-family: Roboto;
    src: url(../assets/fonts);
}

h1 {
    text-align: left;
    font: italic normal bold 4.5em Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
}

p {
    text-align: left;
    font: italic normal normal 2em Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
}
.section-hero {
    padding: 0px;
    margin: 0px;
    min-height: 90vh;
    height: auto;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(66.91deg, #a019ac 28.81%, #581fa3 77.05%);

    .nav {
        width: 80%;
        height: auto;
        padding: 15px;
        display: flex;
        justify-content: flex-start;
    }

    
    .container {
        width: 80%;
        height: auto;
        padding: 25px;
        display: flex;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    
        .info {
            width: 40%;
            height: auto;
            min-width: 370px;
        }

        .cta {
            padding: 15px;
            margin-top: 15px;
            background-color: yellow;
            border: 0px;
            font-weight: 550;
            font-size: 1em;
            border-radius: 5px;
            box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.161);
            max-width: 130px;
        }
    
        .hero-image {
            width: 50%;
            height: auto;
        }
    }
}

.section-post-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Roboto;
    font: roboto;

    h2 {
        color: gray;
        text-align: center;
    }

    h1 {
        color: black;
        font-size: 3em;
        margin: 0px;
        padding: 0px;
        text-align: center;
    }
}

.section-video {
    display: flex;
    justify-content: space-around;
    max-width: 80%;
    align-items: center;
    align-content: center;

    ul{
        width: 40%;
        height: auto;
        font-size: 1.2em;
        font-weight: 600;
    }

    video{
        width: 50%;
        height: auto;
    }
}


@media only screen and ( max-width: 1000px) {

    body {
        font-size: 8px;
    }
    
    .nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container{
        padding: 0px;
        margin:0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;

        .info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .cta{
                font-size: 2em;
                padding: 15px;
                margin-bottom: 30px;
            }
        }
        .hero-image{
            padding: 0px;
            margin-top: 30px;
            width: 80%;
            height: auto;
            min-width: 350px;
        }
    }
    
    h1 {
        text-align: left;
        font: italic normal bold Roboto;
        letter-spacing: 0px;
        color: #FFFFFF;
        text-align: center;
    }
    
    p {
        text-align: left;
        font: italic normal normal 24px Roboto;
        letter-spacing: 0px;
        color: #FFFFFF;
        text-align: center;
    }
} 


